.board {
    display:grid;

    grid-template-columns: repeat(6, 1fr);
    background-color: #0087CA;
    height: 50vh;
    width: 70vw;
}

.coinSlot {
    position: relative;
    height: 40vh;
    width: 4vw;    
}

.center {
    display:flex;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
}

.template {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: white;
}

.playerOne {
    background-color: #F54C50;
}

.playerTwo {
    background-color: #FDFF00;
}